---
import { fade } from "astro:transitions";
import { BaseLayout } from "@libdsastro/ui";
import navigation from "../data/navigation.json";
import AnimalPage from "../components/AnimalPage.svelte";
---

<BaseLayout
  title="Linking the Digital Humanities to Biodiversity History in Singapore and Southeast Asia"
  navItems={navigation}
  partnerLogos={[
    {
      altText: "Yale NUS college",
      url: "https://www.yale-nus.edu.sg/",
      image: `${import.meta.env.BASE_URL}assets/YaleNUS.png`,
    },
    {
      altText: "Lee Kong Chian Natural History Museum",
      url: "https://lkcnhm.nus.edu.sg/",
      image: `${
        import.meta.env.BASE_URL
      }assets/CoBrand_LeeKongChian_Museum_V.png`,
    },
    {
      altText: "Asia Research Institute log",
      url: "https://ari.nus.edu.sg/",
      image: `${import.meta.env.BASE_URL}assets/ari-logo.png`,
    },
  ]}
>
  <main transition:animate="slide">
    <AnimalPage client:only="svelte" />
  </main>
</BaseLayout>
