---
import { BaseLayout } from "@libdsastro/ui";
import navigation from "../data/navigation.json";
import AnimalPage from "../components/AnimalPage.svelte";
import ariLogo from "/assets/ari-logo.png";
import lkcnhmLogo from "/assets/CoBrand_LeeKongChian_Museum_V.png";
import yaleNusLogo from "/assets/YaleNUS.png";
---

<BaseLayout
  title="Linking the Digital Humanities to Biodiversity History in Singapore and Southeast Asia"
  navItems={navigation}
  partnerLogos={[
    {
      altText: "Yale NUS college",
      url: "https://www.yale-nus.edu.sg/",
      image: yaleNusLogo,
    },
    {
      altText: "Lee Kong Chian Natural History Museum",
      url: "https://lkcnhm.nus.edu.sg/",
      image: lkcnhmLogo,
    },
    {
      altText: "Asia Research Institute log",
      url: "https://ari.nus.edu.sg/",
      image: ariLogo,
    },
  ]}
>
  <main>
    <AnimalPage client:only="svelte" />
  </main>
</BaseLayout>
