---
import { BaseLayout } from "@libdsastro/ui";
import navigation from "../data/navigation.json";
import Credits from "../components/Credits.svelte";
---

<BaseLayout
  title="Singapore and South-East Asia Biodiversity History"
  navItems={navigation}
>
  <div>
    <Credits />
  </div>
</BaseLayout>
