---
import { BaseLayout } from "@libdsastro/ui";
import navigation from "../data/navigation.json";
import Introduction from "../components/Introduction.svelte";
---

<BaseLayout
  title="Singapore and South-East Asia Biodiversity History"
  navItems={navigation}
>
  <div>
    <Introduction />
  </div>
</BaseLayout>
