---
import { BaseLayout } from "@libdsastro/ui";
import navigation from "../data/navigation.json";
---

<BaseLayout
  title="Singapore and South-East Asia Biodiversity History"
  navItems={navigation}
>
  <div class="mx-auto prose py-10">
    <h1>Singapore and South-East Asia Biodiversity History</h1>
  </div>
</BaseLayout>
