---
import { BaseLayout } from "@libdsastro/ui";
import FeaturedCharacters from "../components/FeaturedCharacters.svelte";
import SearchBar from "../components/SearchBar.svelte";
import navigation from "../data/navigation.json";
---

<BaseLayout title="Wayang Kulit Image Database" navItems={navigation}>
  <main class="mx-auto prose text-justify">
    <h1>Wayang Kulit Image Database</h1>
    <FeaturedCharacters client:load />
    <SearchBar client:load />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Est incidunt vero
      quaerat in nobis minima eligendi perspiciatis quas quidem voluptatem,
      laboriosam aut necessitatibus id fugit odit. Esse error earum ipsa?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Est incidunt vero
      quaerat in nobis minima eligendi perspiciatis quas quidem voluptatem,
      laboriosam aut necessitatibus id fugit odit. Esse error earum ipsa?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Est incidunt vero
      quaerat in nobis minima eligendi perspiciatis quas quidem voluptatem,
      laboriosam aut necessitatibus id fugit odit. Esse error earum ipsa?
    </p>
  </main>
</BaseLayout>
