---
import { BaseLayout } from "@libdsastro/ui";
import navigation from "../../data/navigation.json";
import PlantPage from "../../components/plant/PlantPage.svelte";
---

<BaseLayout
  title="Singapore and South-East Asia Biodiversity History"
  navItems={navigation}
>
  <main>
    <div class="mx-auto prose py-10">
      <h1>Singapore and South-East Asia Biodiversity History</h1>
    </div>
    <PlantPage client:only="svelte" />
  </main>
</BaseLayout>
